<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<form action="/dashboardupdateproduct" enctype="multipart/form-data" method="POST">
						<div class="form-body">
							<h5 class="card-title">Información de producto</h5>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Nombre</label>
										<input type="text" id="nombre" name="nombre" class="form-control" value="{{nombre}}"
											placeholder="ingrese el nombre del producto"> </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Tipo</label>
										<select class="form-control" name="categoria" data-placeholder="Choose a Category" tabindex="1"
											value="{{categoria}}">
											<option value="Tecnologia">Tecnologia</option>
											<option value="Mercado">Mercado</option>
											<option value="Electrodomesticos">Electrodomesticos</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Precio</label>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="ti-money"></i></span>
											</div>
											<input type="text" class="form-control" name="precio" placeholder="precio" aria-label="precio"
												value="{{precio}}" aria-describedby="basic-addon1">
										</div>
									</div>
								</div>
							</div>
							<h5 class="card-title m-t-40">Descripción del producto</h5>
							<div class="row">
								<div class="col-md-12 ">
									<div class="form-group">
										<textarea class="form-control" name="descripcion" value="{{descripcion}}"
											rows="4">ingrese una descripcion</textarea>
									</div>
								</div>
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-3">
									<h5 class="card-title m-t-20">Upload Image</h5>
									<div class="el-element-overlay">
										<div class="el-card-item">
											<div class="el-card-avatar el-overlay-1">
												<img class="image-product" src="{{imagerSource imagen}}" alt="user" />
											</div>
										</div>
									</div>
									<div class="btn btn-info waves-effect waves-light"><span>Cargar otra imagen</span>
										<input type="file" name="imagenProducto" accept="image/*" class="upload"> </div>
								</div>
							</div>
							<hr>
						</div>
						<div class="form-group form-actions m-t-40">
							<input type="hidden" name="previousPhoto" value="{{photo}}">
							<input type="hidden" value="{{_id}}" name="id">
							<button type="submit" class="btn btn-primary btn-block"> Modificar </button>
						</div>
					</form>
					<form action="/deleteproduct" method="post">
						<input type="hidden" name="registro" value="registro">
						<input type="hidden" value="{{_id}}" name="id">
						<button type="submit" class="btn btn-danger btn-block btn-"> Borrar </button>
					</form>
				</div>
			</div>
		</div>
		<!-- Column -->
	</div>
</div>